.App {
  text-align: center;
  background-image: url("https://res.cloudinary.com/dnk42vfsu/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1603145992/facebookcircleshackathon/pexels-brett-jordan-4451127_ozibhe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode:darken;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-gymname {
  font-size: 400%;
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-text {
  text-indent: 20px; 
  font-weight: bold;
}

.App-button {
  background-color: #363636;
  border: solid;
  border-radius: 6px;
  color: #ffffff;
  font-weight: bold;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
